<div class="home-cocinero-container">
  <!-- Header del cocinero -->
  <div class="home-header">
    <h1 class="home-title">Panel de supervisores</h1>
  </div>

  <div class="main-container">
    <!-- Logo / Avatar -->
    <div class="logo-wrapper">
      <div class="logo-circle">
        <span class="logo-emoji">👨‍✈️</span>
      </div>
    </div>

    <!-- Buttons -->
    <div class="buttons-container">
      <ion-button expand="block" routerLink="/register" class="menu-btn">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <span>Agregar empleado</span>
      </ion-button>

      <ion-button expand="block" class="menu-btn" routerLink="/agregar-mesa">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <span>Agregar mesa</span>
      </ion-button>

      <ion-button
        expand="block"
        routerLink="/customer-auth-panel"
        class="menu-btn"
      >
        <ion-icon slot="start" name="list-outline"></ion-icon>
        <span>Ver registros</span>
      </ion-button>
      
      <ion-button expand="block" class="menu-btn">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        <span>Escanear QR</span>
      </ion-button>
    </div>
  </div>
</div>
