<app-layout [title]="'Clientes en espera'" [showBackButton]="true" [backUrl]="'/home'">
  <div class="auth-panel-content">
    @for (item of clientesEnEsperaList(); track item.id_cliente) {
      <ion-card class="user-card">
        <ion-card-content>
          <div class="user-info">
            <ion-avatar class="user-avatar">
            </ion-avatar>
            <div class="user-details">
              <h2 class="user-name">Nombre del Cliente: {{ item.nombre_cliente }}</h2>
              <h2 class="user-name">Mesa: #{{ item.mesa }}</h2>
            </div>
          </div>
          <div class="actions">
            <ion-button fill="solid" class="action-btn approve" (click)="asignarMesa(item)" id="open-modal">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              <span>Asignar mesa</span>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    }

    @empty {
      <div class="empty-state">
        <ion-icon name="checkmark-circle" class="empty-icon"></ion-icon>
        <p>No hay clientes en espera</p>
      </div>
    }
  </div>
</app-layout>