<app-layout [title]="`Mesa# ${pedido()?.numero_mesa} - ${pedido()?.nombre_cliente}` " [showBackButton]="true" [backUrl]="'/home'">
  <div class="auth-panel-content">
    <ion-card class="user-card">
        <ion-card-content>
          <div class="user-info">
          <ion-avatar class="user-avatar">
            <ion-icon name="receipt-outline" class="avatar-icon"></ion-icon>
          </ion-avatar>
          <div class="user-details">
            <h2 class="user-name"> {{pedido()?.nombre_cliente}} </h2>
            <p class="user-dni">Mesa # {{pedido()?.numero_mesa}} </p>
            <p class="user-date">estado: {{pedido()?.estado}}</p>
          </div>
        </div>
        </ion-card-content>
    </ion-card>
  </div>
</app-layout>
