<app-layout [title]="'Juegos'" [showBackButton]="true" [backUrl]="'/menu-clientes'">
  <div class="games-placeholder">
        <div class="games-icon-wrapper">
          <ion-icon name="game-controller-outline" class="games-icon"></ion-icon>
        </div>
        <p class="games-hint">Jugá para ganar descuentos</p>
        
        <ion-button expand="block" routerLink="/mayor-menor" class="mb-3">
          <ion-icon slot="start" name="trophy-outline"></ion-icon>
          Mayor o Menor
        </ion-button>

        <ion-button expand="block" color="tertiary" routerLink="/ruleta">
          <ion-icon slot="start" name="pie-chart-outline"></ion-icon>
          Ruleta de Descuentos
        </ion-button>
      </div>
</app-layout>